{{> _header}} {{> _banner title="Historique des reservations"}}
<!-- BLOG -->
<div class="detail-wrapper">
  <div class="container">
    <div class="row padd-90">
      <div class="col-xs-12 col-md-8 col-md-push-4">
        <div class="account">
          <div class="account-header">
            <h2 class="account-title">Presentation</h2>
          </div>
          <div class="dashboard-listing booking-listing">
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  {{#each bookingfound}}
                 

                  <tr>
                    <td class=>
                      <div class="date bg-grey-2">
                        <h3>
                          {{{trimString BookingDate 3 5}}}
                        </h3>
                        <h6>{{numbertomounth BookingDate}}</h6>
                      </div>
                      <img src="/img/tour_list/tour_grid_1.jpg" alt="" border=3 height=100 width=300></img>

                    </td>
                    <td class="table-title">
                      {{!--
                      <h3>{{tour.title}}</h3> --}}
                      <h3>
                        Villes Imperiales et oasis
                      </h3>
                      <ul class="list-unstyled booking-info">
                        <li>
                          <span>Arrivee:</span>{{{Arrival}}}</li>
                        <li>
                          <span>Depart:</span> {{{Leaving}}}</li>
                        <li>
                          <span>Nombre de personne:</span> {{math NbrKids "+" NbrAdults}} </li>
                        <li>
                          <span>Aeroport d'arrivee:</span> {{{Aeroport}}}</li>

                      </ul>

                      <button class="c-button b-20 bg-dr-blue-2 hv-dr-blue-2-o right">Message</button>
                    </td>

                  </tr>
                  {{else}}
                  <p>No history</p>
                  {{/each}}


                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
      {{> _sidebar}}
    </div>
  </div>
</div>