{{> _header}}
{{> _banner}}
<!-- BLOG -->
<div class="detail-wrapper">
	<div class="container">
		<div class="row padd-90">
			<div class="col-xs-12 col-md-8 col-md-push-4">
				<div class="account">
					<div class="account-header">
						<h2 class="account-title">Presentation</h2>
					</div>
					<div class="row">
						<div class="box col-md-6 ">
							<h3>Profile</h3>
							<div class="form-group">
								<label class="color-grey-8">Nom d'utilisateur</label>
								<p class="form-control-static" id="card-profile-username">{{user.FirstName}} {{user.LastName}}</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Adresse d'email</label>
								<p class="form-control-static" id="card-profile-username">{{user.email}}</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Date de naissance</label>
								<p class="form-control-static" id="card-profile-username">{{user.Dateofbirth}}</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Pays</label>
								<p class="form-control-static" id="card-profile-username">{{user.country}}</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Ville</label>
								<p class="form-control-static" id="card-profile-username">{{user.city}}</p>
							</div>
							<a href="/account/profil" class="c-button full b-20 bg-dr-blue-2 hv-dr-blue-2-o">
                <span>Compte</span>
              </a>

						</div>
						<div class="box col-md-6 ">
							<h3>Profile</h3>
							<div class="form-group">
								<label class="color-grey-8">Nom d'utilisateur</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Adresse d'email</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Date de naissance</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Contry</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Code postal</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<input class=" c-button full b-20 bg-dr-blue-2 hv-dr-blue-2-o" type="button" value="Profil">

						</div>
					</div>
				</div>
			</div>
	
					{{> _sidebar}}
			
		</div>
	</div>
</div>